.header__l > img {
  object-fit: contain;
  height: 50px;
  margin-left: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}
.header__l {
  display: flex;
  align-items: center;
}

.header__m {
  display: flex;
  flex: 0.7;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
}

.header__m > .MuiSvgIcon-root {
  color: grey;
}

.header__m > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline-width: 0;
  font-size: medium;
  background-color: transparent;
}

.header__r {
  display: flex;
  padding-right: 20px;
}
